<div class="info3-container">
    <div class="info3-grid-container">
        <div class="info3-conten">
            <div class="info3-conten-conten">
                <div class="info3-title">
                    <h2>Disfruta donde quieras</h2>
                </div>
                <div class="info3-descrip">
                    <p>Películas y series ilimitadas en tu teléfono, tablet, computadora y TV sin costo adicional.</p>
                </div>
            </div>
        </div>
        <div class="info3-animation">
            <div class="animation3-conten">
                <img src="../../../assets/img/device-pile.png" alt="">
                <video autoplay="true" loop src="../../../assets/img/video-devices.m4v"
                ></video>
            </div>
        </div>
    </div>
</div>
