<div class="footer-container">
   <div class="ainfo">
    <p>Este sitio es un clon de Netflix creado con fines didácticos y de portafolio
        . No tiene ninguna relación comercial ni legal con Netflix ni 
        con sus contenidos. No se almacenan ni reproducen películas ni
         series en este sitio. Para acceder al servicio oficial de Netflix,
          visita <a href="https://www.netflix.com/">www.netflix.com.</a></p>
   </div>
    <p>Desarrollado por <a href="https://develominx.com/" target="_blank">Develominx</a></p>
</div>