.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: transparent;
}
.logo-container {
  display: flex;
  justify-content: center; 
  align-items: center;

  height: 80px;
  width: 400px;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  height: 80px;
  width: 600px;
}
.fa-solid {
  position: absolute;
  font-size: 13px;
  color: #fff;
  top: 33%;
  left: 4px;
}
.language-container {
  position: relative;
}
.logo-container img {
  width: 200px;
}
.login-container a {
  margin-right: 10%;
  background-color: #e50914;
  padding: 7px 17px;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
}
.login-container select {
  font-family: sans-serif;
  color: #fff;
  padding: 7px 17px;
  border-radius: 3px;
  background-color: transparent;
}
.language-container select option {
  border-radius: 10px;
  background-color: #222;
}

.font-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 150px;
  background-image: url("../../../assets/img/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: 8px solid #222;
  z-index: 0;
}
.cover-image{
  position: absolute;
  top: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to top right , transparent 46%,rgba(12, 13, 19, 0.5) 68%, 
  rgba(12, 13, 19) 97%), linear-gradient(to top left , transparent 46%,rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%), linear-gradient(to bottom right , transparent 46%,rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%), linear-gradient(to bottom left , transparent 46%,rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
  z-index: -1;

}
.info-container-conten {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
.info-container div h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: sans-serif;
}
.info-container div:nth-child(1) {
  max-width: 900px;
  text-align: center;
}
.info-container div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container{
  min-width: 100vw;
}
.info-container div h1 {
  margin-top: 200px;
  font-size: 2.7rem;
  font-weight: 900;
  padding: 0px 40px;
}
.info-container div h3 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0px 40px;
} 
.info-container div h4 {
  padding: 0px 40px;
  font-size: 1.2rem;
  font-weight: 300;
} 
.allText-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allText-container div:nth-child(1){
    margin-bottom: 30px;
}
.allText-container div:nth-child(2){
    margin-bottom: 30px;
}
.allText-container div:nth-child(3){
    margin-bottom: 30px;
}
@media (max-width:960px) {
  .info-container div h1 {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 700;
  }
  .info-container div h3 {
    font-size: 1.125rem;
    font-weight: 400;
  } 
  .info-container div h4 {
    font-weight: 400;
    font-size: 1.125rem;
  } 
  .logo-container {
    height: 80px;
    width: 150px;
  }
  .logo-container img {
    width: 100px;
  }
  .font-container {
    padding-bottom: 90px;
  }
}
@media (max-width:600px) {
  .info-container div h1 {
    margin-top: 60px;
  }

  .font-container {
    padding-bottom: 30px;
  }
  .info-container div h1 {
    padding: 0px 20px;
  }
  .info-container div h3 {
    padding: 0px 20px;
  } 
  .info-container div h4 {
    padding: 0px 20px;
  } 
}


