<div class="info2-container">
    <div class="info2-grid-container">

        <div class="info2-animation">
            <div class="animation2-conten">
                <img src="../../../assets/img/mobile-0819.jpg" alt="">

                <div class="conten-animation-down">  
                <div class="animation-download-container">
                    <div class="post-image">
                        <img src="../../../assets/img/boxshot.png" alt="">
                    </div>
                    <div class="text-animation-download">
                        <h3>Stranger Things</h3>
                        <p>Descargando...</p>
                    </div>
                    <div class="conten-animation-download">
                       <img src="../../../assets/img/download-icon.gif" alt="">
                    </div>
                </div>
                </div> 
            </div>
        </div>

        <div class="info2-conten-conten">
            <div class="info2-title">
                <h2>Descarga tus series para verlas offline</h2>
            </div>
            <div class="info2-descrip">
                <p>Guarda tu contenido favorito y tendrás siempre algo para ver.</p>
            </div>
        </div>
    </div>
</div>