.info2-container{
    background-color: black;
    width: 100%;
    height: 600px;
    border-bottom: 8px solid #222;
    padding-bottom: 30px;
}


.info2-title{
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
}



.info2-conten-conten{
    width: 600px;
    height: auto;
    grid-area: conten;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info2-descrip{
    color: #fff;
    width: 80%;
    font-size: 25px;
    font-family: sans-serif;
}
.info2-animation{
    grid-area: animation;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}


.info2-grid-container{
    display: grid;
    grid-template-areas: 'animation conten';
    grid-template-rows: 600px;
    grid-template-columns: 50% 50%;
}

.animation-download-container{
    position: absolute;
    right: 120px;
    top: 400px;
    width: 400px;
    height: 100px;
    border: solid 2px #222;
    background-color: black;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'portada texto descarga';
    grid-template-columns: 20% auto 20% ;
    grid-template-rows: 100%;
}
.post-image{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: portada;
}
.post-image img{
    width: 60px;
}
.text-animation-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    grid-area: texto;
    font-family: sans-serif;
}
.text-animation-download h3{
    color: #fff;
}
.text-animation-download p{
    color: rgb(33, 67, 158);
}
.conten-animation-download{
    grid-area: descarga;
    display: flex;
    align-items: center;
}
.conten-animation-download img{
    width: 50px;
    padding-left: 5px;
}
