.info4-container{
    background-color: black;
    width: 100%;
    height: auto;
    border-bottom: 8px solid #222;
    padding-bottom: 30px;
}


.info4-title{
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
}



.info4-conten-conten{
    width: 600px;
    height: auto;
    grid-area: conten;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info4-descrip{
    color: #fff;
    width: 100%;
    font-size: 25px;
    font-family: sans-serif;
}
.info4-animation{
    grid-area: animation;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}


.info4-grid-container{
    display: grid;
    grid-template-areas: 'animation conten';
    grid-template-rows: 600px;
    grid-template-columns: 50% 50%;
}






@media (max-width:1295px) {
.info4-conten-conten{
    width: 100%;
}
.animation4-conten img{
    margin-left: 20px;
    width: 90%;
}

.info4-title h2{
    padding-right: 20px;
}
.info4-descrip p{
    padding-right: 20px;
}
  }
  @media (max-width:960px) {
    
.info4-grid-container{
    display: grid;
    grid-template-areas: 'conten'
                        'animation';
    grid-template-rows: auto;
    grid-template-columns: 100%;
}
.info4-conten-conten{
    text-align: center;
}
.info4-title{
    font-size: 1.3rem;
    font-weight: 700;
}
.info4-descrip{
    font-size: 1.1rem;
    font-weight: 500;
}
.info4-title h2{
    padding: 0px 20px;
}
.info4-descrip p{
    padding: 0px 20px;
}
.info4-animation{
    justify-content: center;

}
.animation4-conten{
    padding: 0px 20px;
}
.animation4-conten img{
    margin-left: 0px;
    width: 100%;
}
.info4-grid-container{
    padding-top: 60px;
}
  }
