<div class="info4-container">
    <div class="info4-grid-container">

        <div class="info4-animation">
            <div class="animation4-conten">
                <img src="../../../assets/img/jump.png" alt="">
            </div>
        </div>

        <div class="info4-conten-conten"> 
            <div class="info4-title">
                <h2>Crea perfiles para niños</h2>
            </div>
            <div class="info4-descrip">
                <p>Los niños vivirán aventuras con sus personajes
                     favoritos en un espacio diseñado exclusivamente 
                     para ellos, sin costo con tu membresía.</p>
            </div>
        </div>
    </div>
</div>