<div class="info1-container">
    <div class="info1-grid-container">
        <div class="info1-conten">
            <div class="info1-conten-conten">
                <div class="info1-title">
                    <h2>Disfruta en tu TV</h2>
                </div>
                <div class="info1-descrip">
                    <p>Ve en smart TV, PlayStation, Xbox,
                         Chromecast, Apple TV, reproductores
                          de Blu-ray y más.</p>
                </div>
            </div>
        </div>
        <div class="info1-animation">
            <div class="animation1-conten">
                <img src="../../../assets/img/tv.png" alt="">
                <video autoplay loop src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                ></video>
            </div>
        </div>
    </div>
</div>
